 .bg-carousel{
     background-color: #fceae8;
 }
 .my-button{
     color: white;
     background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
     border: none;
     padding: 9px 25px;
     border-radius: 8px;
 }
 .categories img{
     width: 100px;
 }